@media screen and (max-width: 25060px) {}


@media screen and (min-width: 2560px) {

    .container {
        width: 80%;
        margin: 45px auto;
    }

    .header {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        border: 1px solid grey;
        border-radius: 15px;
        padding: 5px 25px;
        background-color: #2d2d2d;
    }

    .categories {
        display: flex;
    }

    .categories button {
        border: none;
        background-color: transparent;
        color: white;
        font-weight: bold;
        cursor: pointer;
        padding: 10px 20px;
        transition: background-color 0.3s, color 0.3s;
    }

    .categories button.active {
        background-color: transparent;
        color: #FC6E27;
        border-bottom: 2px solid #FC6E27;
    }

    .search {
        width: 30%;
    }

    .search input {
        /* padding: 10px; */
        height: 90%;
        padding-left: 10px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 15px;
        background-color: transparent;
        color: white;
    }

    .news-container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 20px;
    }

    .news-item {
        width: calc(33.33% - 20px);
        /* Three items per row with margin */
        border: none;
        padding: 0;
        box-sizing: border-box;
        background-color: white;
    }

    .news-item a {
        text-decoration: none;
        color: #333;
    }

    .news-item img {
        width: 100%;
        border-radius: 15px;
        height: auto;
        border-bottom: 1px solid #ccc;
    }

    .news-item .category-text {
        font-size: 14px;
        color: #888;
        margin-top: 5px;
    }

    .news-item .title {
        font-size: 18px;
        margin: 10px 0 2px 0;
    }

    .news-item .date {
        font-size: 12px;
        color: #aaa;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .pagination button {
        padding: 10px 20px;
        border: none;
        font-size: 35px;
        background-color: transparent;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .pagination button:hover {
        color: #FC6E27;
        transition: 1s;
    }

    .pagination #page-info {
        margin: 0 10px;
    }

}

@media screen and (max-width: 2560px) {

    .container {
        width: 80%;
        margin: 45px auto;
    }

    .header {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        border: 1px solid grey;
        border-radius: 15px;
        padding: 5px 25px;
        background-color: #2d2d2d;
    }

    .categories {
        display: flex;
    }

    .categories button {
        border: none;
        background-color: transparent;
        color: white;
        font-weight: bold;
        cursor: pointer;
        padding: 10px 20px;
        transition: background-color 0.3s, color 0.3s;
    }

    .categories button.active {
        background-color: transparent;
        color: #FC6E27;
        border-bottom: 2px solid #FC6E27;
    }

    .search {
        width: 30%;
    }

    .search input {
        /* padding: 10px; */
        height: 90%;
        padding-left: 10px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 15px;
        background-color: transparent;
        color: white;
    }

    .news-container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 20px;
    }

    .news-item {
        width: calc(33.33% - 20px);
        /* Three items per row with margin */
        border: none;
        padding: 0;
        box-sizing: border-box;
        background-color: white;
    }

    .news-item a {
        text-decoration: none;
        color: #333;
    }

    .news-item img {
        width: 100%;
        border-radius: 15px;
        height: auto;
        border-bottom: 1px solid #ccc;
    }

    .news-item .category-text {
        font-size: 14px;
        color: #888;
        margin-top: 5px;
    }

    .news-item .title {
        font-size: 18px;
        margin: 10px 0 2px 0;
    }

    .news-item .date {
        font-size: 12px;
        color: #aaa;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .pagination button {
        padding: 10px 20px;
        border: none;
        font-size: 35px;
        background-color: transparent;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .pagination button:hover {
        color: #FC6E27;
        transition: 1s;
    }

    .pagination #page-info {
        margin: 0 10px;
    }

}

@media screen and (max-width: 2160px) {

    .container {
        width: 80%;
        margin: 45px auto;
    }

    .header {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        border: 1px solid grey;
        border-radius: 15px;
        padding: 5px 25px;
        background-color: #2d2d2d;
    }

    .categories {
        display: flex;
    }

    .categories button {
        border: none;
        background-color: transparent;
        color: white;
        font-weight: bold;
        cursor: pointer;
        padding: 10px 20px;
        transition: background-color 0.3s, color 0.3s;
    }

    .categories button.active {
        background-color: transparent;
        color: #FC6E27;
        border-bottom: 2px solid #FC6E27;
    }

    .search {
        width: 30%;
    }

    .search input {
        /* padding: 10px; */
        height: 90%;
        padding-left: 10px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 15px;
        background-color: transparent;
        color: white;
    }

    .news-container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 20px;
    }

    .news-item {
        width: calc(33.33% - 20px);
        /* Three items per row with margin */
        border: none;
        padding: 0;
        box-sizing: border-box;
        background-color: white;
    }

    .news-item a {
        text-decoration: none;
        color: #333;
    }

    .news-item img {
        width: 100%;
        border-radius: 15px;
        height: auto;
        border-bottom: 1px solid #ccc;
    }

    .news-item .category-text {
        font-size: 14px;
        color: #888;
        margin-top: 5px;
    }

    .news-item .title {
        font-size: 18px;
        margin: 10px 0 2px 0;
    }

    .news-item .date {
        font-size: 12px;
        color: #aaa;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .pagination button {
        padding: 10px 20px;
        border: none;
        font-size: 35px;
        background-color: transparent;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .pagination button:hover {
        color: #FC6E27;
        transition: 1s;
    }

    .pagination #page-info {
        margin: 0 10px;
    }

}

@media screen and (max-width: 2000px) {

    .container {
        width: 80%;
        margin: 45px auto;
    }

    .header {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        border: 1px solid grey;
        border-radius: 15px;
        padding: 5px 25px;
        background-color: #2d2d2d;
    }

    .categories {
        display: flex;
    }

    .categories button {
        border: none;
        background-color: transparent;
        color: white;
        font-weight: bold;
        cursor: pointer;
        padding: 10px 20px;
        transition: background-color 0.3s, color 0.3s;
    }

    .categories button.active {
        background-color: transparent;
        color: #FC6E27;
        border-bottom: 2px solid #FC6E27;
    }

    .search {
        width: 30%;
    }

    .search input {
        /* padding: 10px; */
        height: 90%;
        padding-left: 10px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 15px;
        background-color: transparent;
        color: white;
    }

    .news-container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 20px;
    }

    .news-item {
        width: calc(33.33% - 20px);
        /* Three items per row with margin */
        border: none;
        padding: 0;
        box-sizing: border-box;
        background-color: white;
    }

    .news-item a {
        text-decoration: none;
        color: #333;
    }

    .news-item img {
        width: 100%;
        border-radius: 15px;
        height: auto;
        border-bottom: 1px solid #ccc;
    }

    .news-item .category-text {
        font-size: 14px;
        color: #888;
        margin-top: 5px;
    }

    .news-item .title {
        font-size: 18px;
        margin: 10px 0 2px 0;
    }

    .news-item .date {
        font-size: 12px;
        color: #aaa;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .pagination button {
        padding: 10px 20px;
        border: none;
        font-size: 35px;
        background-color: transparent;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .pagination button:hover {
        color: #FC6E27;
        transition: 1s;
    }

    .pagination #page-info {
        margin: 0 10px;
    }

}

@media screen and (max-width: 1900px) {

    .container {
        width: 80%;
        margin: 45px auto;
    }

    .header {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        border: 1px solid grey;
        border-radius: 15px;
        padding: 5px 25px;
        background-color: #2d2d2d;
    }

    .categories {
        display: flex;
    }

    .categories button {
        border: none;
        background-color: transparent;
        color: white;
        font-weight: bold;
        cursor: pointer;
        padding: 10px 20px;
        transition: background-color 0.3s, color 0.3s;
    }

    .categories button.active {
        background-color: transparent;
        color: #FC6E27;
        border-bottom: 2px solid #FC6E27;
    }

    .search {
        width: 30%;
    }

    .search input {
        /* padding: 10px; */
        height: 90%;
        padding-left: 10px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 15px;
        background-color: transparent;
        color: white;
    }

    .news-container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 20px;
    }

    .news-item {
        width: calc(33.33% - 20px);
        /* Three items per row with margin */
        border: none;
        padding: 0;
        box-sizing: border-box;
        background-color: white;
    }

    .news-item a {
        text-decoration: none;
        color: #333;
    }

    .news-item img {
        width: 100%;
        border-radius: 15px;
        height: auto;
        border-bottom: 1px solid #ccc;
    }

    .news-item .category-text {
        font-size: 14px;
        color: #888;
        margin-top: 5px;
    }

    .news-item .title {
        font-size: 18px;
        margin: 10px 0 2px 0;
    }

    .news-item .date {
        font-size: 12px;
        color: #aaa;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .pagination button {
        padding: 10px 20px;
        border: none;
        font-size: 35px;
        background-color: transparent;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .pagination button:hover {
        color: #FC6E27;
        transition: 1s;
    }

    .pagination #page-info {
        margin: 0 10px;
    }

}

@media screen and (max-width: 1800px) {

    .container {
        width: 80%;
        margin: 45px auto;
    }

    .header {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        border: 1px solid grey;
        border-radius: 15px;
        padding: 5px 25px;
        background-color: #2d2d2d;
    }

    .categories {
        display: flex;
    }

    .categories button {
        border: none;
        background-color: transparent;
        color: white;
        font-weight: bold;
        cursor: pointer;
        padding: 10px 20px;
        transition: background-color 0.3s, color 0.3s;
    }

    .categories button.active {
        background-color: transparent;
        color: #FC6E27;
        border-bottom: 2px solid #FC6E27;
    }

    .search {
        width: 30%;
    }

    .search input {
        /* padding: 10px; */
        height: 90%;
        padding-left: 10px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 15px;
        background-color: transparent;
        color: white;
    }

    .news-container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 20px;
    }

    .news-item {
        width: calc(33.33% - 20px);
        /* Three items per row with margin */
        border: none;
        padding: 0;
        box-sizing: border-box;
        background-color: white;
    }

    .news-item a {
        text-decoration: none;
        color: #333;
    }

    .news-item img {
        width: 100%;
        border-radius: 15px;
        height: auto;
        border-bottom: 1px solid #ccc;
    }

    .news-item .category-text {
        font-size: 14px;
        color: #888;
        margin-top: 5px;
    }

    .news-item .title {
        font-size: 18px;
        margin: 10px 0 2px 0;
    }

    .news-item .date {
        font-size: 12px;
        color: #aaa;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .pagination button {
        padding: 10px 20px;
        border: none;
        font-size: 35px;
        background-color: transparent;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .pagination button:hover {
        color: #FC6E27;
        transition: 1s;
    }

    .pagination #page-info {
        margin: 0 10px;
    }

}

@media screen and (max-width: 1700px) {

    .container {
        width: 80%;
        margin: 45px auto;
    }

    .header {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        border: 1px solid grey;
        border-radius: 15px;
        padding: 5px 25px;
        background-color: #2d2d2d;
    }

    .categories {
        display: flex;
    }

    .categories button {
        border: none;
        background-color: transparent;
        color: white;
        font-weight: bold;
        cursor: pointer;
        padding: 10px 20px;
        transition: background-color 0.3s, color 0.3s;
    }

    .categories button.active {
        background-color: transparent;
        color: #FC6E27;
        border-bottom: 2px solid #FC6E27;
    }

    .search {
        width: 30%;
    }

    .search input {
        /* padding: 10px; */
        height: 90%;
        padding-left: 10px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 15px;
        background-color: transparent;
        color: white;
    }

    .news-container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 20px;
    }

    .news-item {
        width: calc(33.33% - 20px);
        /* Three items per row with margin */
        border: none;
        padding: 0;
        box-sizing: border-box;
        background-color: white;
    }

    .news-item a {
        text-decoration: none;
        color: #333;
    }

    .news-item img {
        width: 100%;
        border-radius: 15px;
        height: auto;
        border-bottom: 1px solid #ccc;
    }

    .news-item .category-text {
        font-size: 14px;
        color: #888;
        margin-top: 5px;
    }

    .news-item .title {
        font-size: 18px;
        margin: 10px 0 2px 0;
    }

    .news-item .date {
        font-size: 12px;
        color: #aaa;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .pagination button {
        padding: 10px 20px;
        border: none;
        font-size: 35px;
        background-color: transparent;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .pagination button:hover {
        color: #FC6E27;
        transition: 1s;
    }

    .pagination #page-info {
        margin: 0 10px;
    }

}

@media screen and (max-width: 1600px) {

    .container {
        width: 80%;
        margin: 45px auto;
    }

    .header {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        border: 1px solid grey;
        border-radius: 15px;
        padding: 5px 25px;
        background-color: #2d2d2d;
    }

    .categories {
        display: flex;
    }

    .categories button {
        border: none;
        background-color: transparent;
        color: white;
        font-weight: bold;
        cursor: pointer;
        padding: 10px 20px;
        transition: background-color 0.3s, color 0.3s;
    }

    .categories button.active {
        background-color: transparent;
        color: #FC6E27;
        border-bottom: 2px solid #FC6E27;
    }

    .search {
        width: 30%;
    }

    .search input {
        /* padding: 10px; */
        height: 90%;
        padding-left: 10px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 15px;
        background-color: transparent;
        color: white;
    }

    .news-container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 20px;
    }

    .news-item {
        width: calc(33.33% - 20px);
        /* Three items per row with margin */
        border: none;
        padding: 0;
        box-sizing: border-box;
        background-color: white;
    }

    .news-item a {
        text-decoration: none;
        color: #333;
    }

    .news-item img {
        width: 100%;
        border-radius: 15px;
        height: auto;
        border-bottom: 1px solid #ccc;
    }

    .news-item .category-text {
        font-size: 14px;
        color: #888;
        margin-top: 5px;
    }

    .news-item .title {
        font-size: 18px;
        margin: 10px 0 2px 0;
    }

    .news-item .date {
        font-size: 12px;
        color: #aaa;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .pagination button {
        padding: 10px 20px;
        border: none;
        font-size: 35px;
        background-color: transparent;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .pagination button:hover {
        color: #FC6E27;
        transition: 1s;
    }

    .pagination #page-info {
        margin: 0 10px;
    }

}

@media screen and (max-width: 1500px) {

    .container {
        width: 80%;
        margin: 45px auto;
    }

    .header {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        border: 1px solid grey;
        border-radius: 15px;
        padding: 5px 25px;
        background-color: #2d2d2d;
    }

    .categories {
        display: flex;
    }

    .categories button {
        border: none;
        background-color: transparent;
        color: white;
        font-weight: bold;
        cursor: pointer;
        padding: 10px 20px;
        transition: background-color 0.3s, color 0.3s;
    }

    .categories button.active {
        background-color: transparent;
        color: #FC6E27;
        border-bottom: 2px solid #FC6E27;
    }

    .search {
        width: 30%;
    }

    .search input {
        /* padding: 10px; */
        height: 90%;
        padding-left: 10px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 15px;
        background-color: transparent;
        color: white;
    }

    .news-container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 20px;
    }

    .news-item {
        width: calc(33.33% - 20px);
        /* Three items per row with margin */
        border: none;
        padding: 0;
        box-sizing: border-box;
        background-color: white;
    }

    .news-item a {
        text-decoration: none;
        color: #333;
    }

    .news-item img {
        width: 100%;
        border-radius: 15px;
        height: auto;
        border-bottom: 1px solid #ccc;
    }

    .news-item .category-text {
        font-size: 14px;
        color: #888;
        margin-top: 5px;
    }

    .news-item .title {
        font-size: 18px;
        margin: 10px 0 2px 0;
    }

    .news-item .date {
        font-size: 12px;
        color: #aaa;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .pagination button {
        padding: 10px 20px;
        border: none;
        font-size: 35px;
        background-color: transparent;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .pagination button:hover {
        color: #FC6E27;
        transition: 1s;
    }

    .pagination #page-info {
        margin: 0 10px;
    }

}

@media screen and (max-width: 1400px) {

    .container {
        width: 80%;
        margin: 45px auto;
    }

    .header {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        border: 1px solid grey;
        border-radius: 15px;
        padding: 5px 25px;
        background-color: #2d2d2d;
    }

    .categories {
        display: flex;
    }

    .categories button {
        border: none;
        background-color: transparent;
        color: white;
        font-weight: bold;
        cursor: pointer;
        padding: 10px 20px;
        transition: background-color 0.3s, color 0.3s;
    }

    .categories button.active {
        background-color: transparent;
        color: #FC6E27;
        border-bottom: 2px solid #FC6E27;
    }

    .search {
        width: 30%;
    }

    .search input {
        /* padding: 10px; */
        height: 90%;
        padding-left: 10px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 15px;
        background-color: transparent;
        color: white;
    }

    .news-container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 20px;
    }

    .news-item {
        width: calc(33.33% - 20px);
        /* Three items per row with margin */
        border: none;
        padding: 0;
        box-sizing: border-box;
        background-color: white;
    }

    .news-item a {
        text-decoration: none;
        color: #333;
    }

    .news-item img {
        width: 100%;
        border-radius: 15px;
        height: auto;
        border-bottom: 1px solid #ccc;
    }

    .news-item .category-text {
        font-size: 14px;
        color: #888;
        margin-top: 5px;
    }

    .news-item .title {
        font-size: 18px;
        margin: 10px 0 2px 0;
    }

    .news-item .date {
        font-size: 12px;
        color: #aaa;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .pagination button {
        padding: 10px 20px;
        border: none;
        font-size: 35px;
        background-color: transparent;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .pagination button:hover {
        color: #FC6E27;
        transition: 1s;
    }

    .pagination #page-info {
        margin: 0 10px;
    }

}

@media screen and (max-width: 1380px) {

    .container {
        width: 80%;
        margin: 45px auto;
    }

    .header {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        border: 1px solid grey;
        border-radius: 15px;
        padding: 5px 25px;
        background-color: #2d2d2d;
    }

    .categories {
        display: flex;
    }

    .categories button {
        border: none;
        background-color: transparent;
        color: white;
        font-weight: bold;
        cursor: pointer;
        padding: 10px 20px;
        transition: background-color 0.3s, color 0.3s;
    }

    .categories button.active {
        background-color: transparent;
        color: #FC6E27;
        border-bottom: 2px solid #FC6E27;
    }

    .search {
        width: 30%;
    }

    .search input {
        /* padding: 10px; */
        height: 90%;
        padding-left: 10px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 15px;
        background-color: transparent;
        color: white;
    }

    .news-container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 20px;
    }

    .news-item {
        width: calc(33.33% - 20px);
        /* Three items per row with margin */
        border: none;
        padding: 0;
        box-sizing: border-box;
        background-color: white;
    }

    .news-item a {
        text-decoration: none;
        color: #333;
    }

    .news-item img {
        width: 100%;
        border-radius: 15px;
        height: auto;
        border-bottom: 1px solid #ccc;
    }

    .news-item .category-text {
        font-size: 14px;
        color: #888;
        margin-top: 5px;
    }

    .news-item .title {
        font-size: 18px;
        margin: 10px 0 2px 0;
    }

    .news-item .date {
        font-size: 12px;
        color: #aaa;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .pagination button {
        padding: 10px 20px;
        border: none;
        font-size: 35px;
        background-color: transparent;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .pagination button:hover {
        color: #FC6E27;
        transition: 1s;
    }

    .pagination #page-info {
        margin: 0 10px;
    }

}

@media screen and (max-width: 1300px) {

    .container {
        width: 80%;
        margin: 45px auto;
    }

    .header {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        border: 1px solid grey;
        border-radius: 15px;
        padding: 5px 25px;
        background-color: #2d2d2d;
    }

    .categories {
        display: flex;
    }

    .categories button {
        border: none;
        background-color: transparent;
        color: white;
        font-weight: bold;
        cursor: pointer;
        padding: 10px 20px;
        transition: background-color 0.3s, color 0.3s;
    }

    .categories button.active {
        background-color: transparent;
        color: #FC6E27;
        border-bottom: 2px solid #FC6E27;
    }

    .search {
        width: 30%;
    }

    .search input {
        /* padding: 10px; */
        height: 90%;
        padding-left: 10px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 15px;
        background-color: transparent;
        color: white;
    }

    .news-container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 20px;
    }

    .news-item {
        width: calc(33.33% - 20px);
        /* Three items per row with margin */
        border: none;
        padding: 0;
        box-sizing: border-box;
        background-color: white;
    }

    .news-item a {
        text-decoration: none;
        color: #333;
    }

    .news-item img {
        width: 100%;
        border-radius: 15px;
        height: auto;
        border-bottom: 1px solid #ccc;
    }

    .news-item .category-text {
        font-size: 14px;
        color: #888;
        margin-top: 5px;
    }

    .news-item .title {
        font-size: 18px;
        margin: 10px 0 2px 0;
    }

    .news-item .date {
        font-size: 12px;
        color: #aaa;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .pagination button {
        padding: 10px 20px;
        border: none;
        font-size: 35px;
        background-color: transparent;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .pagination button:hover {
        color: #FC6E27;
        transition: 1s;
    }

    .pagination #page-info {
        margin: 0 10px;
    }

}

@media screen and (max-width: 1200px) {

    .container {
        width: 80%;
        margin: 45px auto;
    }

    .header {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        border: 1px solid grey;
        border-radius: 15px;
        padding: 5px 25px;
        background-color: #2d2d2d;
    }

    .categories {
        display: flex;
    }

    .categories button {
        border: none;
        background-color: transparent;
        color: white;
        font-weight: bold;
        cursor: pointer;
        padding: 10px 20px;
        transition: background-color 0.3s, color 0.3s;
    }

    .categories button.active {
        background-color: transparent;
        color: #FC6E27;
        border-bottom: 2px solid #FC6E27;
    }

    .search {
        width: 30%;
    }

    .search input {
        /* padding: 10px; */
        height: 90%;
        padding-left: 10px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 15px;
        background-color: transparent;
        color: white;
    }

    .news-container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 20px;
    }

    .news-item {
        width: calc(33.33% - 20px);
        /* Three items per row with margin */
        border: none;
        padding: 0;
        box-sizing: border-box;
        background-color: white;
    }

    .news-item a {
        text-decoration: none;
        color: #333;
    }

    .news-item img {
        width: 100%;
        border-radius: 15px;
        height: auto;
        border-bottom: 1px solid #ccc;
    }

    .news-item .category-text {
        font-size: 14px;
        color: #888;
        margin-top: 5px;
    }

    .news-item .title {
        font-size: 18px;
        margin: 10px 0 2px 0;
    }

    .news-item .date {
        font-size: 12px;
        color: #aaa;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .pagination button {
        padding: 10px 20px;
        border: none;
        font-size: 35px;
        background-color: transparent;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .pagination button:hover {
        color: #FC6E27;
        transition: 1s;
    }

    .pagination #page-info {
        margin: 0 10px;
    }

}

@media screen and (max-width: 1100px) {

    .container {
        width: 80%;
        margin: 45px auto;
    }

    .header {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        border: 1px solid grey;
        border-radius: 15px;
        padding: 5px 25px;
        background-color: #2d2d2d;
    }

    .categories {
        display: flex;
    }

    .categories button {
        border: none;
        background-color: transparent;
        color: white;
        font-weight: bold;
        cursor: pointer;
        padding: 10px 20px;
        transition: background-color 0.3s, color 0.3s;
    }

    .categories button.active {
        background-color: transparent;
        color: #FC6E27;
        border-bottom: 2px solid #FC6E27;
    }

    .search {
        width: 30%;
    }

    .search input {
        /* padding: 10px; */
        height: 90%;
        padding-left: 10px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 15px;
        background-color: transparent;
        color: white;
    }

    .news-container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 20px;
    }

    .news-item {
        width: calc(33.33% - 20px);
        /* Three items per row with margin */
        border: none;
        padding: 0;
        box-sizing: border-box;
        background-color: white;
    }

    .news-item a {
        text-decoration: none;
        color: #333;
    }

    .news-item img {
        width: 100%;
        border-radius: 15px;
        height: auto;
        border-bottom: 1px solid #ccc;
    }

    .news-item .category-text {
        font-size: 14px;
        color: #888;
        margin-top: 5px;
    }

    .news-item .title {
        font-size: 18px;
        margin: 10px 0 2px 0;
    }

    .news-item .date {
        font-size: 12px;
        color: #aaa;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .pagination button {
        padding: 10px 20px;
        border: none;
        font-size: 35px;
        background-color: transparent;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .pagination button:hover {
        color: #FC6E27;
        transition: 1s;
    }

    .pagination #page-info {
        margin: 0 10px;
    }

}

@media screen and (max-width: 800px) {

    .container {
        width: 80%;
        margin: 45px auto;
    }

    .header {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        border: 1px solid grey;
        border-radius: 15px;
        padding: 5px 25px;
        background-color: #2d2d2d;
    }

    .categories {
        display: flex;
    }

    .categories button {
        border: none;
        background-color: transparent;
        color: white;
        font-weight: bold;
        cursor: pointer;
        padding: 10px 20px;
        transition: background-color 0.3s, color 0.3s;
    }

    .categories button.active {
        background-color: transparent;
        color: #FC6E27;
        border-bottom: 2px solid #FC6E27;
    }

    .search {
        width: 30%;
    }

    .search input {
        /* padding: 10px; */
        height: 90%;
        padding-left: 10px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 15px;
        background-color: transparent;
        color: white;
    }

    .news-container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 20px;
    }

    .news-item {
        width: calc(50% - 15px);
        /* Three items per row with margin */
        border: none;
        padding: 0;
        box-sizing: border-box;
        background-color: white;
    }

    .news-item a {
        text-decoration: none;
        color: #333;
    }

    .news-item img {
        width: 100%;
        border-radius: 15px;
        height: auto;
        border-bottom: 1px solid #ccc;
    }

    .news-item .category-text {
        font-size: 14px;
        color: #888;
        margin-top: 5px;
    }

    .news-item .title {
        font-size: 18px;
        margin: 10px 0 2px 0;
    }

    .news-item .date {
        font-size: 12px;
        color: #aaa;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .pagination button {
        padding: 10px 20px;
        border: none;
        font-size: 35px;
        background-color: transparent;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .pagination button:hover {
        color: #FC6E27;
        transition: 1s;
    }

    .pagination #page-info {
        margin: 0 10px;
    }

}

@media screen and (max-width: 600px) {

    .container {
        width: 90%;
        margin: 45px auto;
    }

    .header {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin: 20px 0;
        border: 1px solid grey;
        border-radius: 15px;
        padding: 10px 15px 0px 15px;
        background-color: #2d2d2d;
    }

    .categories {
        display: flex;
    }

    .categories button {
        border: none;
        background-color: transparent;
        color: white;
        font-weight: bold;
        cursor: pointer;
        padding: 10px 20px;
        transition: background-color 0.3s, color 0.3s;
    }

    .categories button.active {
        background-color: transparent;
        color: #FC6E27;
        border-bottom: 2px solid #FC6E27;
    }

    .search {
        width: 95%;
    }

    .search input {
        /* padding: 10px; */
        height: 30px;
        padding-left: 10px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 15px;
        background-color: transparent;
        color: white;
    }

    .news-container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 20px;
    }

    .news-item {
        width: calc(50% - 15px);
        /* Three items per row with margin */
        border: none;
        padding: 0;
        box-sizing: border-box;
        background-color: white;
    }

    .news-item a {
        text-decoration: none;
        color: #333;
    }

    .news-item img {
        width: 100%;
        border-radius: 15px;
        height: auto;
        border-bottom: 1px solid #ccc;
    }

    .news-item .category-text {
        font-size: 14px;
        color: #888;
        margin-top: 5px;
    }

    .news-item .title {
        font-size: 18px;
        margin: 10px 0 2px 0;
    }

    .news-item .date {
        font-size: 12px;
        color: #aaa;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .pagination button {
        padding: 10px 20px;
        border: none;
        font-size: 35px;
        background-color: transparent;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .pagination button:hover {
        color: #FC6E27;
        transition: 1s;
    }

    .pagination #page-info {
        margin: 0 10px;
    }

}

@media screen and (max-width: 500px) {

    .container {
        width: 90%;
        margin: 45px auto;
    }

    .header {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin: 20px 0;
        border: 1px solid grey;
        border-radius: 15px;
        padding: 10px 15px 0px 15px;
        background-color: #2d2d2d;
    }

    .categories {
        display: flex;
    }

    .categories button {
        border: none;
        background-color: transparent;
        color: white;
        font-weight: bold;
        cursor: pointer;
        padding: 10px 20px;
        transition: background-color 0.3s, color 0.3s;
    }

    .categories button.active {
        background-color: transparent;
        color: #FC6E27;
        border-bottom: 2px solid #FC6E27;
    }

    .search {
        width: 95%;
        margin-bottom: 15px;
    }

    .search input {
        /* padding: 10px; */
        height: 35px;
        padding-left: 10px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 15px;
        background-color: transparent;
        color: white;
    }

    .news-container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 20px;
    }

    .news-item {
        width: calc(100%);
        /* Three items per row with margin */
        border: none;
        padding: 0;
        box-sizing: border-box;
        background-color: white;
    }

    .news-item a {
        text-decoration: none;
        color: #333;
    }

    .news-item img {
        width: 100%;
        border-radius: 15px;
        height: auto;
        border-bottom: 1px solid #ccc;
    }

    .news-item .category-text {
        font-size: 14px;
        color: #888;
        margin-top: 5px;
    }

    .news-item .title {
        font-size: 18px;
        margin: 10px 0 2px 0;
    }

    .news-item .date {
        font-size: 12px;
        color: #aaa;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .pagination button {
        padding: 10px 20px;
        border: none;
        font-size: 35px;
        background-color: transparent;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .pagination button:hover {
        color: #FC6E27;
        transition: 1s;
    }

    .pagination #page-info {
        margin: 0 10px;
    }

}

@media screen and (max-width: 400px) {

    .container {
        width: 90%;
        margin: 45px auto;
    }

    .header {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin: 20px 0;
        border: 1px solid grey;
        border-radius: 15px;
        padding: 10px 15px 0px 15px;
        background-color: #2d2d2d;
    }

    .categories {
        display: flex;
    }

    .categories button {
        border: none;
        background-color: transparent;
        color: white;
        font-weight: bold;
        cursor: pointer;
        padding: 10px 20px;
        transition: background-color 0.3s, color 0.3s;
    }

    .categories button.active {
        background-color: transparent;
        color: #FC6E27;
        border-bottom: 2px solid #FC6E27;
    }

    .search {
        width: 95%;
        margin-bottom: 15px;
    }

    .search input {
        /* padding: 10px; */
        height: 35px;
        padding-left: 10px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 15px;
        background-color: transparent;
        color: white;
    }

    .news-container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 20px;
    }

    .news-item {
        width: calc(100%);
        /* Three items per row with margin */
        border: none;
        padding: 0;
        box-sizing: border-box;
        background-color: white;
    }

    .news-item a {
        text-decoration: none;
        color: #333;
    }

    .news-item img {
        width: 100%;
        border-radius: 15px;
        height: auto;
        border-bottom: 1px solid #ccc;
    }

    .news-item .category-text {
        font-size: 14px;
        color: #888;
        margin-top: 5px;
    }

    .news-item .title {
        font-size: 18px;
        margin: 10px 0 2px 0;
    }

    .news-item .date {
        font-size: 12px;
        color: #aaa;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .pagination button {
        padding: 10px 20px;
        border: none;
        font-size: 35px;
        background-color: transparent;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .pagination button:hover {
        color: #FC6E27;
        transition: 1s;
    }

    .pagination #page-info {
        margin: 0 10px;
    }

}

@media screen and (max-width: 360px) {

    .container {
        width: 90%;
        margin: 45px auto;
    }

    .header {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin: 20px 0;
        border: 1px solid grey;
        border-radius: 15px;
        padding: 10px 15px 0px 15px;
        background-color: #2d2d2d;
    }

    .categories {
        display: flex;
    }

    .categories button {
        border: none;
        background-color: transparent;
        color: white;
        font-weight: bold;
        cursor: pointer;
        padding: 10px 20px;
        transition: background-color 0.3s, color 0.3s;
        font-size: 0.7em;
    }

    .categories button.active {
        background-color: transparent;
        color: #FC6E27;
        border-bottom: 2px solid #FC6E27;
    }

    .search {
        width: 95%;
        margin-bottom: 15px;
    }

    .search input {
        /* padding: 10px; */
        height: 35px;
        padding-left: 10px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 15px;
        background-color: transparent;
        color: white;
    }

    .news-container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 20px;
    }

    .news-item {
        width: calc(100%);
        /* Three items per row with margin */
        border: none;
        padding: 0;
        box-sizing: border-box;
        background-color: white;
    }

    .news-item a {
        text-decoration: none;
        color: #333;
    }

    .news-item img {
        width: 100%;
        border-radius: 15px;
        height: auto;
        border-bottom: 1px solid #ccc;
    }

    .news-item .category-text {
        font-size: 14px;
        color: #888;
        margin-top: 5px;
    }

    .news-item .title {
        font-size: 18px;
        margin: 10px 0 2px 0;
    }

    .news-item .date {
        font-size: 12px;
        color: #aaa;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .pagination button {
        padding: 10px 20px;
        border: none;
        font-size: 35px;
        background-color: transparent;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .pagination button:hover {
        color: #FC6E27;
        transition: 1s;
    }

    .pagination #page-info {
        margin: 0 10px;
    }

}