<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Анимация ступенек</title>
    <link rel="stylesheet" href="../styles/layout-banner.css">
</head>

<body>
    <div class="layout-banner">
        <div class="banner"><img src="./media/layout-banner/test-banner.png" alt=""></div>
        <div class="objects">
            <div class="white first-last six-up"></div>
            <div class="white center five-up"></div>
            <div class="white center fourth-up"></div>
            <div class="white center third-up"></div>
            <div class="white center second-up"></div>
            <div class="white first-last first-up"></div>
        </div>
    </div>


    <script src="../scripts/layout-banner.js"></script>
</body>

</html>