<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/switch.css">
    <link
        href="https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

</head>

<body>
    <div class="switch-banner">
        <div class="empty"></div>
        <div class="text-box1 box">
            <div class="visible">
                <h3>Sustainable Door Carrier</h3>
            </div>
            <div class="invisible">
                <p>Find out how Magna is creating a door carrier with sustainable materials that is 4x stronger and 40%
                    less weight.</p>
                <a href="" class="button">
                    <p>READ MORE</p>
                    <img src="../media/switch-banner/icon/right-arrow.svg" alt="">
                </a>
            </div>
        </div>
        <div class="text-box2 box">
            <div class="visible">
                <h3>Sustainable Door Carrier</h3>
            </div>
            <div class="invisible">
                <p>Find out how Magna is creating a door carrier with sustainable materials that is 4x stronger and 40%
                    less weight.</p>
                <a href="" class="button">
                    <p>READ MORE</p>
                    <img src="../media/switch-banner/icon/right-arrow.svg" alt="">
                </a>
            </div>
        </div>
        <div class="text-box3 box">
            <div class="visible">
                <h3>Sustainable Door Carrier</h3>
            </div>
            <div class="invisible">
                <p>Find out how Magna is creating a door carrier with sustainable materials that is 4x stronger and 40%
                    less weight.</p>
                <a href="" class="button">
                    <p>READ MORE</p>
                    <img src="../media/switch-banner/icon/right-arrow.svg" alt="">
                </a>
            </div>
        </div>
        <div class="text-box4 box">
            <div class="visible">
                <h3>Sustainable Door Carrier</h3>
            </div>
            <div class="invisible">
                <p>Find out how Magna is creating a door carrier with sustainable materials that is 4x stronger and 40%
                    less weight.</p>
                <a href="" class="button">
                    <p>READ MORE</p>
                    <img src="../media/switch-banner/icon/right-arrow.svg" alt="">
                </a>
            </div>
        </div>
        <div class="background-image default">
            <img src="../media/switch-banner/alfa.jpg" alt="">
        </div>
        <div class="background-image ">
            <img src="../media/switch-banner/infiniti.jpg" alt="">
        </div>
        <div class="background-image ">
            <img src="../media/switch-banner/lamba.jpg" alt="">
        </div>
        <div class="background-image ">
            <img src="../media/switch-banner/mercedes.jpg" alt="">
        </div>
        <div class="empty"></div>
    </div>
    <script src="../scripts/switch.js"></script>
</body>

</html>