@media screen and (max-width: 6060px) {}


@media screen and (max-width: 2560px) {
    .layout-banner {
        position: relative;
        margin-top: 6%;
    }

    .banner img {
        width: 100%;
        height: auto;
        aspect-ratio: 48 / 19;
    }

    .first-last {
        width: 20%;
    }

    .center {
        width: 15%;
    }

    .objects {
        display: flex;
        position: absolute;
        top: 0;
        width: 100%;
        height: auto;
        aspect-ratio: 48 / 19;
        overflow: hidden;
    }

    .white {
        background-color: white;
        height: auto;
        aspect-ratio: 48 / 19;
        position: relative;

    }

    @keyframes slideIn {
        0% {
            top: 0;

        }

        100% {
            top: 100%;

        }
    }

    .objects .white {
        animation: slideIn 1s ease forwards;
        animation-fill-mode: forwards;
    }

    .objects .first-up {
        animation-delay: 0s;
    }

    .objects .second-up {
        animation-delay: 0.2s;
        /* Меняйте это значение по вашему усмотрению */
    }

    .objects .third-up {
        animation-delay: 0.4s;
        /* Меняйте это значение по вашему усмотрению */
    }

    .objects .fourth-up {
        animation-delay: 0.6s;
        /* Меняйте это значение по вашему усмотрению */
    }

    .objects .five-up {
        animation-delay: 0.8s;
        /* Меняйте это значение по вашему усмотрению */
    }

    .objects .six-up {
        animation-delay: 1s;
        /* Меняйте это значение по вашему усмотрению */
    }

}

@media screen and (max-width: 2000px) {}

@media screen and (max-width: 1800px) {}

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1500px) {}

@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1380px) {}

@media screen and (max-width: 1300px) {}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 1000px) {}

@media screen and (max-width: 800px) {}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 500px) {}

@media screen and (max-width: 400px) {}

@media screen and (max-width: 360px) {}