.banners {
    display: flex;
    justify-content: center;
}



.object {
    cursor: pointer;
    margin: 0 3%;
    width: 10%;
    display: flex;
    align-items: flex-end;
    position: relative;
    transition: 0.5s;
}

.banner-active {
    cursor: pointer;

    margin: 0 3%;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    transition: 0.5s;

}

.banner-active .opened-info {
    opacity: 1;
    /* background-color: rgba(255, 255, 255, 0.9); */
    display: block;
    transition: none;

    /* Оставляем место для иконки */
}

.banner-active .opened-info {
    display: block;
    transition: 15s;
}


.background-image {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 510px;
}

.banner-background-image {
    width: 100%;
    display: block;
    object-fit: cover;
    height: 100%;
}

.banner-open-icon {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.opened-info {
    display: none;
    width: 15%;
    padding: 15px 15px 0 0;
    transition: 0.5s;
    position: absolute;
    top: 150px;
    color: white;
    background-image: url("../media/main-banner/banner-background-img.jpg");
    background-repeat: no-repeat;
    border-radius: 0 15px 15px 0;
}

.opened-info span {
    display: none;
    font-size: 14px;
    color: #fff;
}

.banner-active .opened-info span {
    display: block;
}

.opened-info h2 {
    display: none;
    transition: none;
    font-size: 24px;
    color: #fff;
}

.banner-active .opened-info h2 {
    display: block;
}

.opened-info p {
    display: none;
    transition: none;
    font-size: 16px;
    color: #fff;
}

.banner-active .opened-info p {
    display: block;
}

.object-link {
    display: none;
    /* display: inline-block; */
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
}

.banner-active .object-link {
    display: inline-block;
}

.object-link p {
    display: none;
    /* display: inline-block; */
    margin-right: 10px;
    transition: 5s;
}

.banner-active .object-link p {
    display: inline-block;
}

.object-link img {
    display: none;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.banner-active .object-link img {
    display: inline-block;
}