.empty {
    width: 10%;
    border: 1px solid white;
}

body {
    font-family: 'SF Pro Display', sans-serif;
}


.switch-banner {
    display: flex;
    width: 100%;
    margin-top: 110px;
    height: 600px;

    justify-content: center;
}

.box {
    cursor: pointer;
    padding: 25px;
    border: 1px solid white;
    width: 20%;
    text-align: left;
    position: relative;
    overflow: hidden;
    z-index: 5;
}

.visible h3 {
    font-size: 25px;
    position: relative;
    bottom: 0;
    top: 450px;
    transition: 1s;
    color: white;
}

.box:hover .visible h3 {
    top: 250px;
    transition: 1s;

}

.invisible p {
    color: white;

    font-size: 18px;
}

.invisible {
    position: relative;
    top: 500px;
    transition: 1s;

}

.box:hover .invisible {
    top: 300px;
    transition: 1s;
}

.background-image img {
    position: absolute;
    left: 0;
    width: 100%;
    transition: 0.5s;
    opacity: 0;
}

.background-image.default img {
    opacity: 1;
}

.box-inactive {
    opacity: 0;
    transition: 0.5s;

}

.box-active img {
    transition: 0.5s;
    opacity: 1;

}

.button {
    display: flex;
    justify-content: space-between;
    width: 55%;
    height: 40px;
    border: 1px solid white;
    align-items: center;
    padding: 0 5px;
    text-decoration: none;
}

.button:hover {
    background-color: white;
    transition: 0.5s;
}

.button:hover p {
    color: black;
    transition: 0.5s;
}

.button:hover img {
    filter: invert(1);
    position: relative;
    right: 0;
    transition: 0.5s;

}

.button img {
    width: 25px;
    position: relative;
    right: 25px;
    transition: 0.5s;

}

.button p {
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
}