@media screen and (max-width: 6060px) {
    html {

        overflow: hidden;
        /* Отключаем прокрутку */
    }

    .html-active-scroll {
        overflow: auto;
    }
}




@media screen and (max-width: 2560px) {

    #video-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
        overflow: hidden;
        /* Отключаем прокрутку внутри видео-оверлея */
    }

    #video-overlay img {
        width: 100vw;
        /* Задаем ширину GIF равной ширине окна */
        height: 100vh;
        /* Задаем высоту GIF равной высоте окна */
        object-fit: cover;
        /* GIF будет покрывать всю область, сохраняя пропорции */
    }

    #main-content {
        display: none;
        overflow: auto;
        /* Включаем прокрутку для основного контента */
    }

    /* .animation-overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 1000;
    }

    .logo-animation {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .animation-logo-left {
        margin-right: 15px;
        opacity: 0;
        transform: translateX(-100%);
        animation: slideInLeft 1s forwards;
        animation-delay: 1s;
    }

    .unnder-logo-text {
        display: flex;
        justify-content: center;
    }

    .upper-logo-text img,
    .unnder-logo-text img {
        opacity: 0;
        transform: translateX(100%);
        animation: slideInRight 1s forwards;
    }

    .middle-logo-line {
        width: 0;
        height: 10px;
        background-color: #fc6e27;
        border-radius: 15px;
        animation: growWidth 2s forwards;
        animation-delay: 2s;
    }

    @keyframes slideInLeft {
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes slideInRight {
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes growWidth {
        to {
            width: 100%;
        }
    } */
}

@media screen and (max-width: 2000px) {}

@media screen and (max-width: 1800px) {}

@media screen and (max-width: 1700px) {}

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1500px) {}

@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1380px) {}

@media screen and (max-width: 1300px) {}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 1100px) {}

@media screen and (max-width: 800px) {}

@media screen and (max-width: 600px) {
    #video-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
        overflow: hidden;
        /* Отключаем прокрутку внутри видео-оверлея */
    }

    #video-overlay img {
        width: 100%;
        /* Задаем ширину GIF равной ширине окна */
        height: 100%;
        /* Задаем высоту GIF равной высоте окна */
        object-fit: contain;
        /* GIF будет покрывать всю область, сохраняя пропорции */
    }

    #main-content {
        display: none;
        overflow: auto;
        /* Включаем прокрутку для основного контента */
    }
}

@media screen and (max-width: 500px) {}

@media screen and (max-width: 400px) {}

@media screen and (max-width: 360px) {}